---
import '@picocss/pico'
import "../styles/index.css"
import { ViewTransitions } from "astro:transitions";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <title>Astrin</title>
        <ViewTransitions/>
    </head>
    <body>
        <div class="grid">

            <article>
                <header>
                    <span>Convert Files</span>
                </header>
                <a href="/editor" role="button">Convert Files</a>
            </article>
    </div>
        </body>
    </html>